<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Clients list</title>
	<link rel="stylesheet" href="libs/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
</head>

<body>

	<main id="app">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1>Clients data</h1>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<nav class="navbar navbar-light">
						<form class="form-inline search-form">
							<input class="form-control" type="search" placeholder="Search client..." aria-label="Search" v-model="filterText">
						</form>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="inputs-wrap text-center">
						<input type="image" alt="" src="img/adw.png" @click="sourceUpdate('adwords', $event)">
						<input type="image" alt="" src="img/bng.png" @click="sourceUpdate('bingads', $event)">
						<input type="image" alt="" src="img/fb.png" @click="sourceUpdate('facebookads', $event)">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="text-center">
						<button @click="toggleAll()" class="btn btn-primary toggle-all-button">
							Toggle all
						</button>
					</div>
					<table class="main-table" is="client" v-for="item in filteredClients" :client="item" :toggle-state="isToggledAll">
					</table>
				</div>
			</div>
		</div>
	</main>

	<script src="libs/vue.js"></script>
	<script src="libs/axios.min.js"></script>
	<script src="main.js"></script>
</body>

</html>
