.main-table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 10px;
}

.main-table th {
  text-align: center;
  background-color: #e4e4e4;
}

.bold-heading {
  font-weight: 500;
}

.inputs-wrap {
  margin-bottom: 10px;
}

.inputs-wrap input {
  margin: 0 12px;
  cursor: pointer;
}

.inputs-wrap input.disabled {
  opacity: 0.6;
}

.search-form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.client-name {
  position: relative;
}

.toggle-button {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 20px;
  height: 20px;
  line-height: 1;
  padding: 0;
  transform: translate3d(0, -50%, 0);
}

.toggle-button span {
  width: 16px;
  display: inline-block;
  transform-origin: center center;
  height: 16px;
  text-align: center;
  line-height: 12px;
  transform: rotate(90deg);
}

.main-table.closed>tr:not(.client-name) {
  display: none;
}

.main-table.opened>tr:not(.client-name) {
  display: table-row;
}

.main-table.opened .toggle-button span {
  transform: rotate(0deg);
}

.toggle-all-button {
  margin-bottom: 15px;
}

/* Vue transition */

.fade-enter-active,
.fade-leave-active {
  transition: opacity .6s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

  {
  opacity: 0;
}
